<div class="footer">
    <div class="container1">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="{% url 'aboutus'%}">about us</a></li>
                    <li><a href="{% url 'index'%}#learnmore">our solutions</a></li>
                    <li><a href="{% url 'resources'%}">Resources</a></li>
                    <li><a href="{% url 'contactus'%}">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Keep in Touch</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-home"></i>&nbsp; 4D MEGHNA, KOLKATA - 74</a></li>
                    <li><a href="mailto:ayan@edxcare.in" style="text-transform: lowercase;"><i class="fas fa-envelope"></i>&nbsp; ayan@edxcare.in</a></li>
                    <li><a href="tel:+919874306851"><i class="fas fa-phone-alt"></i>&nbsp; +91 9874306851</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="solutions/all/placement/">Placements</a></li>
                    <li><a href="solutions/all/corporate-learning/">Corporate Learning</a></li>
                    <li><a href="solutions/all/life-and-business-coaching/">Life and Business Coaching</a></li>
                    <li><a href="solutions/all/campus-to-corporate-plus/">Campus to Corporate Plus</a></li>
                    <li><a href="solutions/all/strategic-hr-consulting/">Strategic HR Consulting</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>