:root {
	--purple: #814096;
	--pink: #f83292;
	--gradient: linear-gradient(90deg, var(--purple), var(--pink));
}

* {
	font-family: "Roboto Slab", "Times New Roman", serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	padding: 1rem 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

header .logo {
	font-size: 1.25rem;
	color: var(--purple);
}

header .logo span {
	color: var(--pink);
}

header .navbar a {
	font-size: 1rem;
	color: var(--purple);
}
.navbar-link {
	position: relative;
	margin: 0px;
}

.navbar-link:after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: -3px;
	width: 0%;
	height: 2px;
	background-color: #fc5a03;
}

.navbar-link.active {
	color: #f83292;
}

.navbar-link.active:after {
	width: 100%;
}

.navbar-link:hover:after {
	width: 100%;
}
@media screen and (max-width:550px){
	body{
		color:#814096 !important;
	}
	
}